body {
    background: url('images/bg2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: lightblue;

}

a {
  cursor: url(images/pointer.png), pointer;

}

.goodcursor {
   cursor: url(images/pointer.png), pointer;

}
#textdiv {
    position: fixed;
    z-index: 1000;
}
#front-frame {
    width: 100vw;
    min-height: 100vh;
    position: fixed;
    z-index: 9999;
}
#treeguys {
    z-index: 1001;
    position: absolute;
    transition: margin-left 9s, margin-top 8s;
    transition-timing-function: ease;
    cursor: url(images/pointer.png), pointer;

}
#guystree {
    z-index: 1000;
    position: absolute;
    transition: margin-left 5s, margin-top 8s;
    transition-timing-function: ease;
    cursor: url(images/pointer.png), pointer;
}

.frontimg {
    width: 100vw;
}
#videoframe {
    transition: transform 3s;
}

.embiggened {
    transform: scale(4.1);
/*    background-color: #000;
*/    position: relative;
    z-index: 10000;
}

#videoframe video {
    transform: "scale(1)";
    width: 80%;
    height: auto !important;
    margin-top: 10%;
    margin-left: 7%;
}

#close {
    display: none;
    text-shadow: 1px 1px 2px #333;
    color: lightblue;
    font-style: italic;
    font-size: 30px;
    font-weight: bold;
    padding: 4px;
    text-decoration: none;
    font-size: 15px;
}

.embiggened #close {
    display: block;
}
#cathedral-container {


}
#cathedral {
    float: left;
    width: 60vw;
    flex-wrap: wrap;
    transition: transform 3s;
    transform: scale(.4);
    transition-timing-function: ease-out;
    position: fixed;
    left: 25vw;
    top: 10vh;
}

#cathedral div .kitten {
    transition: transform 3s, top 3s, left 3s;
    top: inherit;
    left: inherit;
    position: relative;
    transition-timing-function: ease-out;
    cursor: url(images/pointer.png), pointer;

}

#cathedral div img.winder  {
    position: relative;
    z-index: 1000;
    transition: opacity 2s;
    margin-bottom: -15vw;
    cursor: url(images/pointer.png), pointer;
}

#cathedral div {
    background-size: contain;
    background-repeat: no-repeat;
    float: left;
    width: 20vw;
}

#cathedral div.top {
    height: 34vw;
    background-position: bottom left;
}




#cathedral div.top img.winder  {
    width: 20vw;
    height: 34vw;
}

#cathedral div.top .kitten {
    width: 15vw;
    height: auto;
}


#cathedral div.mid {
    height: 21.5vw;
}

#cathedral div.mid img.winder  {
    width: 20vw;
    height: 21.5vw;
}

#cathedral div.mid .kitten {
    width: 12vw;
    height: auto;
}


#cathedral div.bottom {
    height: 31vw;
    background-position: top left;
}
#cathedral div.bottom img.winder  {
    width: 20vw;
}

#cathedral div.bottom .kitten  {
    height: auto;
    width: 14vw;
    padding-left: 4vw;
}

#mute {
    position: fixed;
    bottom: 80px;
    left: 80px;
    text-shadow: 1px 1px 2px #333;
    color: lightblue;
    font-style: italic;
    font-size: 30px;
    font-weight: bold;
}

#retire {
    display: none;
    position: fixed;
    bottom: 80px;
    right: 80px;
    text-shadow: 1px 1px 2px #333;
    color: lightblue;
    font-style: italic;
    font-size: 30px;
    font-weight: bold;
}

#warning {
    width: 90vw;
    height: 100vh;
    display: none;
    position: fixed;
    background: url(images/warning.png) no-repeat;
    background-size: contain;
    margin: auto 5vw;
    z-index: 900000;
}

#warning p {
    opacity: 0;
}

//

div#content-wrapper {
	height: 100%;
	min-width: 900px;
	min-height: 500px;
}
html.touch div#content-wrapper {
	min-width: 700px;
}
.scrollContainer {
	overflow-y: scroll;
	overflow-x: hidden;
	min-width: 650px;
	width: 100%;
}
.scrollContent {
	position: relative;
	/*height: 100%;*/
}
section {
	height: 100vh;
	position: relative;
	z-index: 8888;
}

#first-section, #second-section {
  min-width: 100%;
  width: 100vw;
  height: 100vh;
}
.spacer {
  width: 500px;
}
