body {
    background: url('images/bg2.jpg');
    background-attachment: fixed;
    background-size: cover;
    overflow-x: hidden;
}
#textdiv {
    position: fixed;
    z-index: 1000;
}
#front-frame {
    width: 100vw;
    min-height: 100vh;
    position: fixed;
    z-index: 9999;
}
#treeguys {
    z-index: 1001;
    position: absolute;
    transition: margin-left 5s, margin-top 8s;
    transition-timing-function: ease-in;
}
#guystree {
    z-index: 1000;
    position: absolute;
    transition: margin-left 5s, margin-top 8s;
    transition-timing-function: ease-in;
}

.frontimg {
    width: 100vw;
}
#videoframe {

    left: 45vw;
    top: 25vh;
    float: left;
    position: absolute;
    /*transform: scale(.4);*/
    height: 120vh;
    z-index: 50;
}

#cathedral {
    float: left;
    width: 60vw;
    flex-wrap: wrap;
    position: fixed;
    left: 25vw;
    top: 10vh;
    transition: transform 3s;
    transform: scale(.4);
    transition-timing-function: ease-out;

}

#cathedral div {
    background-size: contain;
    background-repeat: no-repeat;
    float: left;
    width: 20vw;

}
#cathedral div.top {
    height: 34vw;
    background-position: bottom left;
}
#cathedral div.mid {
    height: 21.5vw;
}
#cathedral div.bottom {
    height: 31vw;
    background-position: top left;
}

#videoframe img {
    margin: 45px;
}
