body {
  overflow: hidden;
  width: 403.75vh;
  margin: 0px;
}

* {
  font-family: 'Cormorant Unicase', serif;
}

body.opened {
  overflow-x: scroll;
}

a {
  cursor: url(images/pointer.png), pointer;

}

.goodcursor {
   cursor: url(images/pointer.png), pointer;

}
#textdiv {
    position: fixed;
    z-index: 1000;
}
#front-frame {
    width: 100vw;
    min-height: 100vh;
    position: fixed;
    z-index: 9999;
}
#treeguys {
    z-index: 1001;
    position: absolute;
    transition: margin-left 9s, margin-top 8s;
    transition-timing-function: ease;
    cursor: url(images/pointer.png), pointer;
    height: auto;
    width: 90vw;
    top: -50vh;
}
#guystree {
    z-index: 1000;
    position: absolute;
    transition: margin-left 5s, margin-top 8s;
    transition-timing-function: ease;
    cursor: url(images/pointer.png), pointer;
    height: auto;
    width: 100vw;
    top: -50vh;
}

body.opened .frontimg {
  display: none;
  transition: margin-left 3s, margin-top 5s;
  transition-timing-function: ease;

}


.frontimg {
    width: 100vw;
}
#videoframe {
    transition: transform 3s, top 2s, left 2s;
}

.embiggened {
    transform: scale(4.1);
    position: relative;
    top: 20px;
    left: 20px;
    z-index: 10000;
}

#videoframe video {
    transform: "scale(1)";
    width: 80%;
    height: auto !important;
    margin-top: 10%;
    margin-left: 7%;
}

#close {
    display: none;
    text-shadow: 2px 1px 3px black;
    color: cyan;
    font-style: italic;
    font-size: 30px;
    font-weight: bold;
    padding: 4px;
    text-decoration: none;
    font-size: 15px;
}


#videoframe video {
  mix-blend-mode: normal;
}


.embiggened #close {
    display: block;
    width: auto;
    width: 20px;
    mix-blend-mode: overlay;
    box-shadow: 0px 0px 10px 10px fuchsia;
    margin-top: -5px;
    text-align: center;
}

.embiggened #close:hover {
    mix-blend-mode: difference;
    background: white;
    box-shadow: 0px 0px 10px 10px cyan;
    margin-top: -5px;
    text-align: center;
}

#cathedral-container {
  float: left;
  position: absolute;
  height: 100vh;
  width: 86.25vh;
}
#cathedral {
    width: 60vw;
    flex-wrap: wrap;
    transition: transform 3s;
    transform: scale(.3);
    transition-timing-function: ease-out;
    position: absolute;
    left: -10vh;
    top: -30vh;
}

#cathedral div .kitten {
    transition: transform 3s, top 2s, left 2s;
    top: 0px;
    left: 0px;
    position: relative;
    transition-timing-function: ease-out;
    cursor: url(images/pointer.png), pointer;

}

#cathedral div img.winder  {
    position: relative;
    z-index: 1000;
    transition: opacity 2s;
    margin-bottom: -15vw;
    cursor: url(images/pointer.png), pointer;
}

#cathedral div {
    background-size: contain;
    background-repeat: no-repeat;
    float: left;
    width: 20vw;
}

#cathedral div.top {
    height: 34vw;
    background-position: bottom left;
}




#cathedral div.top img.winder  {
    width: 20vw;
    height: 34vw;
}

#cathedral div.top .kitten {
    width: 15vw;
    height: auto;
}


#cathedral div.mid {
    height: 21.5vw;
}

#cathedral div.mid img.winder  {
    width: 20vw;
    height: 21.5vw;
}

#cathedral div.mid .kitten {
    width: 12vw;
    height: auto;
}


#cathedral div.bottom {
    height: 31vw;
    background-position: top left;
}
#cathedral div.bottom img.winder  {
    width: 20vw;
}

#cathedral div.bottom .kitten  {
    height: auto;
    width: 14vw;
    padding-left: 4vw;
}




#warning {
    width: 90vw;
    height: 100vh;
    display: none;
    position: fixed;
    background: url(images/warning.jpg) no-repeat;
    background-size: contain;
    margin: auto 5vw;
    z-index: 900000;
}

#warning p {
    opacity: 0;
}


/* scrollstuff */

#frontframe-scroll {
  width: auto;
  height: 100vh;
  float: left;
  z-index: 9999;
}

#scroll-container {
  height: 100vh;
  width: 403.75vh;
  background: url('images/pano/full-pano-no-floaters.jpg');
  background-size: cover;
  overflow-y: hidden;
  overflow-x: scroll;

}

#scrolllady {
  position: absolute;
  margin-left: 40vw;
  margin-top: 40vh;
  width: 600px;
  height: 600px;
  background: url('images/treelady.png');
  background-size: contain;
  background-repeat: no-repeat;
}

#scrollorb {
  position: absolute;
  margin-left: 200vh;
  margin-top: 20vh;
  width: 17vw;
  height: 17vw;
  background: url('images/sky-orb.png');
  background-size: contain;
  background-repeat: no-repeat;

}

#scrolltrees {
  position: absolute;
  width: 800px;
  height: 600px;
  background: url('images/fliptreebg.png');
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 22vh;
  opacity: .7;
}

#scrollloaf {
  position: absolute;
  width: 800px;
  height: 600px;
  background: url('images/loaf-of-trees.png');
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 34vh;
  opacity: .6;
}

#scrollglitch {
  position: absolute;
  width: 215vh;
  height: 8vh;
  background: url('images/skglitchez.png');
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 8.7vh;
  opacity: .7;
}

#scrollorb a {
  width: 17.5vw;
  height: 17.5vw;
  float: left;
  border-radius: 50%;
  font-size: 0px;
  padding: 100px 0px 100px 0px;
  text-align: center;
  margin-top: -10px;
  margin-left: -15px.;
  font-family: 'Cormorant Unicase', serif;

}

#scrollorb a:hover {
  text-shadow: 1px 1px 2px #333;
  color: lightblue;
  font-style: italic;
  font-size: 30px;
  font-weight: bold;
  box-sizing: border-box;
  border: 3px solid lightblue;
  box-shadow: 0px 0px 60px 60px lightblue;
}

#parallax-section {
  height: 100vh;
  margin-left: 100vw;
  min-width: 150vw;
}

/* Library */

#library {
  background: url(/images/librarybg.png) repeat;
  background-size: 75%;

}

#library-frame {
  background: url(/images/library-frame.png) no-repeat;
  width: 90vw;
  height: 90vh;
  margin: 5vh 5vw;
  background-size: contain;
  background-position: center;
}

#links {
  width: 40%;
  margin: auto;
  padding-top: 20vh;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 15px;
}

#links a img {
  width: 12vw;
}

#homelink {
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 3;
}
